    $couleur1: #7c2c8a;
    $couleur2: #e7e7e7;
    body {
        background-color: $couleur2;
        font-family: 'Open Sans', sans-serif;
    }
    
    header {
        background: url('../images/smarthome-product-4a2000.jpeg') no-repeat;
        height: 100vh;
        background-size: cover;
    }
    
    header h1 {
        padding: 200px 0;
        color: $couleur2;
        font-size: 100px;
        text-shadow: 0 0 3px black;
    }
    
    .espace-bloc {
        padding: 50px 0;
    }
    
    .paragraphe {
        background-color: $couleur1;
        color: $couleur2;
    }
    
    img {
        margin-bottom: 20px;
    }
    
    .navbar-default {
        background-color: $couleur1;
        border-color: $couleur1;
        box-shadow: 0 0 4px black;
        .navbar-brand {
            color: $couleur2;
            &:hover {
                color: $couleur2;
            }
        }
        .navbar-nav {
            li {
                a {
                    color: $couleur2;
                    &:hover {
                        color: $couleur2;
                        border-bottom: 1px solid $couleur2;
                    }
                }
            }
        }
    }
    
    h2 {
        margin: 50px 0;
    }